[Unit]
Description=Consul Agent
Requires=network-online.target private-ip.service
After=network-online.target private-ip.service

[Service]
Type=idle
EnvironmentFile=-/etc/default/private-ip
EnvironmentFile=-/etc/default/consul_base
Environment=GOMAXPROCS=2
ExecStart={{consul.start_command}}
Requires=network-online.target
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target